.homepage-search {
  margin-bottom: 1em;
  display: flex;
align-items: center;
justify-content: center;
}
 #catAbb, #go {
  display: none;
}
table{
  border-collapse: collapse;
border-spacing: 0;
}
ul {
  list-style: none;
}
li, #leftbar a {
  padding: 2px 0;
}
